# OSX #
.DS_Store


# environments #
.env
.env.example
.env.test
.env.development
.env.production


# Byte-compiled / optimized / DLL files #
__pycache__/
*.py[cod]
*$py.class

# Django #
*.log
db.sqlite3
media
